<header class = "header">

    <h1 class="codingRaul">Coding with Raul</h1>

    <h1 class ="shopName">{{shop.name}}</h1>

    <!-- Main menu -->
    <ul class ="mainMenu">
        {% for link in linklists.main-menu.links -%}
            {% comment %} The link_to filter creates an anchor tag with the specified title and URL {% endcomment %}
            <li> {{link.title | link_to: link.url}} </li>
        {%- endfor -%}
    </ul>

    <!-- Search bar -->
    {% if section.settings.show_search %}
    <form action="/search" method="get">
        <input type="search" name="q" placeholder="Search" aria-label="Search">
        <button type="submit">Search</button>
    </form>
    {% endif %}

</header>

{% stylesheet %}
/* You can add stle here */
/* You cannot add settings inside them, like: {{section.settings.bg}} */
/* If you want that you need to do a inline style: <style> </style> */
{% endstylesheet %}

{% javascript %} 
/* You can add javascript here */
{% endjavascript %}

{% comment %} A section needs to have a schema {% endcomment %}

{% schema %}
{
    "name": "header",
    "settings": [
        {
            "id" : "cb",
            "type": "checkbox",
            "label": "Check Box",
            "default": true
        },
        {
            "id" : "bg",
            "type": "color",
            "label": "Background Color",
            "default": "#FFFFFF"
        }
    ]
}
{% endschema %}